<div id="<%= dom_id declare %>">
  <p>
    <strong>User:</strong>
    <%= declare.user_id %>
  </p>

  <p>
    <strong>Declare category:</strong>
    <%= declare.declare_category_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= declare.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= declare.description %>
  </p>

</div>
