<!--<p style="color: green"><%#= notice %></p>-->
<!---->
<%#= render @declare %>
<!--
<div>
  <%#= link_to "Edit this declare", edit_declare_path(@declare) %> |-->
  <%#= link_to "Back to declares", declares_path %>
<!---->
  <%#= button_to "Destroy this declare", @declare, method: :delete %>
<!--</div>
-->

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Patner Details</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered table-striped" id="<%= dom_id(@declare) %>">
      <tbody>
        <tr>
          <td><strong>Name</strong></td>
          <td><%= @declare&.user&.user_information&.full_name %></td>
        </tr>
        <tr>
          <td><strong>Category</strong></td>
          <td><%= @declare&.declare_category&.name %></td>
        </tr>
        <tr>
          <td><strong>Status</strong></td>
          <td><%= @declare&.status %></td>
        </tr>
        <tr>
          <td><strong>Created At</strong></td>
          <td><%= @declare&.created_at %></td>
        </tr>
        <tr>
          <td><strong>Description</strong></td>
          <td><%= @declare&.description %></td>
        </tr>
        <tr>
          <td colspan="3" class="text-right">
            <%= link_to declares_path, class: 'btn btn-secondary btn-sm' do %>
              <i class="fa fa-chevron-left"></i> Back
            <% end %>
            <%= link_to edit_declare_path(@declare), class: 'btn btn-primary btn-sm ml-2' do %>
              <i class="fas fa-pencil-alt"></i> Edit
            <% end %>
            <%= link_to declare_path(@declare), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm ml-2' do %>
              <i class="fas fa-trash"></i> Delete
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->