<div id="<%= dom_id memo %>">
  <p>
    <strong>User:</strong>
    <%= memo.user_id %>
  </p>

  <p>
    <strong>Memo category:</strong>
    <%= memo.memo_category_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= memo.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= memo.description %>
  </p>

</div>
